<h1>About the star rating system</h1>
<p>
	<img src="/assets/star.png" />
	<img src="/assets/unstar.png" />
	<img src="/assets/unstar.png" />
	<img src="/assets/unstar.png" />
	<img src="/assets/unstar.png" />
	Horrible, waste of time. Will never watch / read again.
</p>

<p>
	<img src="/assets/star.png" />
	<img src="/assets/star.png" />
	<img src="/assets/unstar.png" />
	<img src="/assets/unstar.png" />
	<img src="/assets/unstar.png" />
	Mediocre, wouldn't recommend, but may watch / read it again.
</p>

<p>
	<img src="/assets/star.png" />
	<img src="/assets/star.png" />
	<img src="/assets/star.png" />
	<img src="/assets/unstar.png" />
	<img src="/assets/unstar.png" />
	Enjoyable
</p>

<p>
	<img src="/assets/star.png" />
	<img src="/assets/star.png" />
	<img src="/assets/star.png" />
	<img src="/assets/star.png" />
	<img src="/assets/unstar.png" />
	Great, a favorite.
</p>

<p>
	<img src="/assets/star.png" />
	<img src="/assets/star.png" />
	<img src="/assets/star.png" />
	<img src="/assets/star.png" />
	<img src="/assets/star.png" />
	Hall of Fame
</p>
