// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.book {
	position: relative;
	background-color: #111;
	float: left; 
	margin: 5px; 
	text-align: center; 
	width: 150px;
	height: 150px;
	border:solid 1px #999;
	padding: 4px;
	color: #eee;
	
	a, a:visited {
		color: #eee;
	}
	
	p {
		font-size: 11px;
	}
	
	img {
		max-width: 100px; 
		max-height: 100px;
	}
	
	.aggregate_rating {
		text-shadow: #000 0 0 3px;
		font-size: 11px;
		text-align: right;
	}
}